body {
	background-color: #000000;
	margin: 0;
}

#wrapper {
	background-color:#000000;
	margin: auto;
	width: 100%;
}

#banner {
	background-color:#000000;
	padding: 0px 0px 0px 0px;
	color: #ffffff;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: regular;
	letter-spacing: 8.0px;
	line-height: 3.8;
	text-align: left;
	text-indent: 48px;
	word-spacing: 0px;
}

#footer {
	background-color:#000000;
	padding: 0px 0px 0px 0px;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: regular;
	letter-spacing: 2.0px;
	line-height: 6.0;
	text-align: left;
	text-indent: 48px;
	word-spacing: 1px;
}

img {
	float: left;
}

.responsive {
	width: 100%;
	height: auto;
}

#images {
	background-color:#000000;
}
